:root {
  --primary: #2dd4bf;
  --dark: #18181b;
  --light: #f5f5f5;
  --gray: #a1a1aa;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Chillax-Regular', sans-serif;
  font-weight: 200;
}

html {
scroll-behavior: smooth;
}

body {
  background-color: var(--dark);
  color: var(--light);
  overflow-x: hidden;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 2rem;
}

/* In einer globalen CSS-Datei oder in App.vue */
.section-title {
  font-size: 2.5rem;
  margin-bottom: 3rem;
  display: inline-block;
  position: relative;
}

.section-title::after {
  content: '';
  position: absolute;
  height: 4px;
  width: 50px;
  background-color: var(--primary);
  bottom: -10px;
  left: 0;
}


@media (max-width: 768px) {
  .nav-links {
      position: fixed;
      top: 0;
      right: -300px;
      width: 300px;
      height: 100vh;
      background-color: var(--dark);
      flex-direction: column;
      padding: 2rem;
      transition: right 0.3s ease;
      z-index: 101;
  }
  
  .nav-links.active {
      right: 0;
      box-shadow: -5px 0 30px rgba(0, 0, 0, 0.2);
  }
  
  .mobile-menu-btn {
      display: block;
      z-index: 102;
  }
  
  .hero h1 {
      font-size: 2.5rem;
  }
  
  .projects-grid {
      grid-template-columns: 1fr;
  }
}