@font-face {
  font-family: 'Alpino';
  src: url('@/assets/fonts/Alpino_Complete/TTF/Alpino-Variable.ttf') format('truetype');
  font-weight: 100 300 400 700 900;
  font-style: normal;
  font-display: swap;
  unicode-range: U+0000-5FFF, U+E000-FFFF;
}

@font-face {
  font-family: 'Array';
  src: url('@/assets/fonts/Array_Complete/TTF/Alpino-Variable.ttf') format('truetype');
  font-weight: 100 300 400 700 900;
  font-style: normal;
  font-display: swap;
  unicode-range: U+0000-5FFF, U+E000-FFFF;
}